/* 
Type Selectors 
*/

*{
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(rgb(211, 74, 142), rgb(133, 19, 44));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-size: 350%;
}

h2{
    font-size: 250%;
}

footer{
    font-size: 90%;
}

a{
    font-size: 150%;
}



/* 
ID Selectors 
*/
#IDh1 {
    color: rgb(0, 0, 0);
}



/* 
Class Selectors 
*/
.beginning {
    color: rgb(53, 8, 53);
    text-decoration: underline;
}

    /* Rows and Columns */

.right {
    float: left;

}

.left {
    float: left;   

}

.middle {
    float: left;

}

.right, .left, .middle{
    width: 33.33%;
    float:left;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row img{
    width: 100%;
    object-fit: contain;
}



/* 
Relational Selectors 
*/
li>p{
    font-size: 110%;
    color: rgb(54, 5, 50);
}



/* 
Combination Selectors 
*/
h1, h2, h3{
    font-weight: bold;
}



/* 
Attribute Selectors
*/
a[href]{
    text-decoration: underline;
    color:rgb(146, 14, 14);
}



/* 
Pseudo Elements and Classes 
*/
a:hover{
    color:rgb(137, 43, 226)
}