/* 
Type Selectors 
*/

*{
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

}

html{
    background: linear-gradient(#7067CF,#EB5160);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img{
    width: 100%;
    object-fit: contain;
    margin: auto;
}

main{
    padding-right:2%;
    padding-left:2%;
    padding-bottom:2%;
    margin: 1%;
    background-color: #ECE5F0;
    padding-top: 1%;
    border-width: 20px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-radius: 50px;
    border-style: solid;
    border-color: #7067CF;
    margin-right: 4%;
    margin-left: 4%;
}

h1{
    font-size: 350%;
    text-align: center;
    padding: 1%;
    background-color: #221D23;
    color:#EB5160;
}

h2{
    font-size: 250%;
}

h3{
}

footer{
    font-size: 90%;
}

a{
    font-size: 150%;
}



/* 
ID Selectors 
*/
#IDh1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

#gigharbor{
    background-image: url(gigharbor.jpg);
    color:#221D23;
    border-radius: 25px;
}

#bg{
    background-color: #221D23;
    color: #EB5160;
}

/* 
Class Selectors 
*/
.beginning {
    text-decoration: underline;
    background-color: #221D23;

}

.top {
    text-align: center;
    font-size: 50px;
}

    /* Rows and Columns */

.right, .left, .middle{
    width: 29%;
    padding: 1%;
    float: left;
    margin:1%;
    background-color: #221D23;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row img{
    width: 100%;
    object-fit: contain;
    border-radius: 25px;
    padding-bottom: 3%;
}

/* 
Relational Selectors 
*/
li>p{
    font-size: 110%;
    color: rgb(54, 5, 50);

}

.row h2{
    color:#EB5160
}

/* 
Combination Selectors 
*/
h1, h2, h3{
    font-weight: bold;
}



/* 
Attribute Selectors
*/
a[href]{
    text-decoration: underline;
    color:#06AED5;
}



/* 
Pseudo Elements and Classes 
*/
a:hover{
    color: #7067CF;
}

/* 
Navigation Menu 
*/

#nav_menu{
    width:600px;
    margin:auto;
}
#nav_menu ul {
    list-style-type: none;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a{
    text-align: center;
    display:block;
    width: 175px;
    padding:1em 0;
    text-decoration: none;
    background-color: #221D23;
    color:#EB5160;
    font-weight: bold;
    margin-right: 5px;
}
#nav_menu ul li a.lastitem {border-right:none;}
#nav_menu ul li a.current {color:yellow;}